@import url("https://fonts.googleapis.com/css2?family=Passero+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
*,
**::after,
**::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-accent: #ebf9fd;
  --clr-red: #ff3700;
  --clr-black: #000;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-accent);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
}
header {
  padding: 2% 3%;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    font-family: 'Passero One', cursive; 

}

.logo p {
  color: var(--clr-black);
  font-size: 16px;
  font-weight: 600;
}
.logo p span {
  color: var(--clr-red);
}

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.icons ion-icon {
  font-size: 1.2rem;
  color: var(--clr-red);
}

main {
  width: 90%;
  padding-top: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cta-text {
  width: 95%;
}

.cta-text p:nth-child(1) {
  font-size: 6vw;
  font-weight: 700;
  line-height: 1.2;
}
.cta-text p:nth-child(2) {
  margin-top: -1%;
  width: 70%;
  color: var(--clr-black);
  opacity: 0.5;
  font-weight: 300;
  margin-top: -3%;
  font-size: 14px;
}

.cta-text p:nth-child(1) span {
  color: var(--clr-red);
}

.right button {
  padding: 2% 5%;
  align-self: flex-start;
  background: rgba(255, 55, 0, 0.5);
  border-radius: 40px;
  border: none;
  font-size: 0.8rem;
}

.cta {
  display: flex;
  gap: 20px;
  margin-top: 5%;
}
.ob-btn {
  padding: 0 7%;
  display: flex;
  color: black;
  border-radius: 10px;
  gap: 7px;
  text-decoration: none;
}

.ob-btn p {
  font-size: 0.8em;
  align-self: center;
  margin-top: 10%;
  font-weight: 500;
}
.ob-btn p ion-icon {
  font-size: 2em;
}

.order-btn p:nth-child(2) ion-icon {
  transform: rotate(-30deg);
  color: var(--clr-accent);
}

.book-btn p:nth-child(1) ion-icon {
  color: var(--clr-red);
}

.order-btn {
  background-color: var(--clr-red);
}

.book-btn {
  background: rgba(255, 55, 0, 0.1);
  cursor: pointer;
}
.book-btn:hover,.book-btn:hover{
  color: #000;
}

.left {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left .img {
  background-image: url("https://images.pexels.com/photos/10779657/pexels-photo-10779657.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px !important;
  min-height: 300px !important;
  border-radius: 50%;
}

.e1 {
  position: absolute;
  top: -7%;
  right: 25%;
  font-size: 3vw;
}
.e2 {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3vw;
}
.e3 {
  position: absolute;
  bottom: -10%;
  right: 25%;
  font-size: 3vw;
}

@media screen and (max-width: 575px) {
  body {
    height: 100vh;
  }

  .ob-btn p {
    font-size: 0.7em;
  }
  .ob-btn p ion-icon {
    font-size: 1.5em;
  }

  main {
    flex-direction: column-reverse;
  }

  .right {
    width: 85%;
    margin: 2% auto;
    position: relative;
  }
  .left {
    width: 100%;
    margin: 10% auto;
  }

  .cta-text p:nth-child(1) {
    font-size: 9vw;
    width: 120%;
  }

  .cta-text p:nth-child(2) {
    font-size: 3vw;
    width: 120%;
  }
}
/* image */
@media screen and (min-width: 576px) {
  .left {
    width: 40%;
  }
  .right {
    width: 60%;
  }
  .left .img {
    min-width: 250px !important;
    min-height: 250px !important;
    border-radius: 50%;
  }
}
@media screen and (min-width: 768px) {
  .left .img {
    min-width: 400px !important;
    min-height: 400px !important;
    border-radius: 50%;
  }
}

@media screen and (min-width: 992px) {
  .left .img {
    min-width: 500px !important;
    min-height: 500px !important;
    border-radius: 50%;
  }
}
